:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#8b8c89;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  padding: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  text-align: center;
}

.inputForm {
  margin-top: 10px;
  padding: 10px;
  width: 400px;
}

.inputButton {
  padding: 10px;
  margin-left: 10px;
  width: 80px;
}

.footerItem {
  margin: 10px;
}

.explain {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
